{% extends "admin/__base__.html" %}


{% block head %}
    {{ super() }}
     <link rel="stylesheet" href= "{{ request.script_root }}/themes/admin/static/editor/css/editormd.css">
{% endblock %}

{% block title %}
    撰写新文章
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="main">

        <div class="container">
        {% if request.args.get("cid") %}
               <h3>修改文章-{{ blog.title }}</h3>
        {% else %}
               <h3>撰写新文章</h3>
        {% endif %}
            <div class="row">
            {% if request.args.get("cid") %}
                <form action="{{ url_for("AiyBlog.admin.action.modify_post") }}" method="post">
                <input type="text" name="cid" value="{{ blog.cid }}" style="display: none">
            {% else %}
                <form action="{{ url_for("AiyBlog.admin.action.edit_post") }}" method="post">
            {% endif %}

                <div class="col-9 col-mb-12 col-tb-9">
                        <div class="summary">
                            {% if request.args.get("cid") %}
                            <p>
                                <input type="text" name="title" placeholder="" autocomplete="off" value="{{ blog.title }}">
                            </p>
                                <p>{{ get_config("siteUrl") }}/archives/{{ blog.cid }}</p>
                            {% else %}
                            <p>
                                <input type="text" name="title" placeholder="标题" autocomplete="off">
                            </p>
                            <p>{{ get_config("siteUrl") }}/archives/{cid}</p>
                            {% endif %}


                        </div>
                        {% if request.args.get("cid") %}
                         <div id="aiyblog-write" class="editormd" >
                          <!-- 这个文本域是用来保存markdown源码的，当我们要写入从数据库读出的markdown的时候，可以把数据填充到此-->
                            <textarea class="editormd-markdown-textarea" name="markdown">{{ blog.text }}</textarea>
                          <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
                            <textarea class="editormd-html-textarea" name="text"></textarea>
                        </div>
                        {% else %}
                         <div id="aiyblog-write" class="editormd" >
                          <!-- 这个文本域是用来保存markdown源码的，当我们要写入从数据库读出的markdown的时候，可以把数据填充到此-->
                            <textarea class="editormd-markdown-textarea" name="markdown"></textarea>
                          <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
                            <textarea class="editormd-html-textarea" name="text"></textarea>
                        </div>
                        {% endif %}
                 <button type="submit" class="submit">发布文章</button>

                 </div>
                <div class="col-3 col-tb-3 col-mb-12">
                    <div class="write-options">

{#                        <h4>发布日期</h4>#}
{#                        <input type="text">#}
                        <h4>分类</h4>
                        <ul>
                        {% if request.args.get("cid") %}
                            {% for c in cat %}
                              <li>
                                      {%  if c.mid in find_mid_by_cid(request.args.get("cid"))  %}
                                         <input id="cg-{{ c.mid }}" type="checkbox" value="{{ c.mid }}" name="category[]" checked>
                                         <label for="cg-{{ c.mid }}">{{ c.name }}</label>
                                      {% else %}
                                          <input id="cg-{{ c.mid }}" type="checkbox" value="{{ c.mid }}" name="category[]" >
                                          <label for="cg-{{ c.mid }}">{{ c.name }}</label>
                                      {% endif %}
                                </li>
                            {% endfor %}
                        {% else %}
                            {% for c in cat %}
                              <li>
                                <input id="cg-{{ c.mid }}" type="checkbox" value="{{ c.mid }}" name="category[]">
                                <label for="cg-{{ c.mid }}">{{ c.name }}</label>
                            </li>
                            {% endfor %}
                        {% endif %}

                        </ul>
                        <h4>标签</h4>
                             <button type="button" class="high" onclick="show_tags()">显示标签 ></button>
                            <div id="tags" class="tags" style="display: none;">
                            <ul>

                            {% if request.args.get("cid") %}
                                {% for t in tags %}
                                  <li>
                                          {%  if t.mid in find_mid_by_cid(request.args.get("cid"))  %}
                                             <input id="cg-{{ t.mid }}" type="checkbox" value="{{ t.mid }}" name="tags[]" checked>
                                             <label for="cg-{{ t.mid }}">{{ t.name }}</label>
                                          {% else %}
                                              <input id="cg-{{ t.mid }}" type="checkbox" value="{{ t.mid }}" name="tags[]" >
                                              <label for="cg-{{ t.mid }}">{{ t.name }}</label>
                                          {% endif %}
                                    </li>
                                {% endfor %}
                            {% else %}
                                {% for t in tags %}
                                    <li>
                                    <input type="checkbox" id="tag-{{ t.mid }}" value="{{ t.mid }}" name="tags[]"><label for="tag-{{ t.mid }}">{{ t.name }}</label>
                                    </li>
                                {% endfor %}
                            {% endif %}

                            </ul>
                            </div>
                        <p>
                            <h4>高级选项</h4>
                            <button type="button" class="high" onclick="show_option()">高级选项 ></button>
                        </p>
                            <div class="options" id="options" style="display: none">
                                <label style="font-weight: 700; color: #5d5d5d; display: block;">公开度</label>
                                <p>
                                    <select name="visibility" id="visibility" onchange="test(this.value)">

                                        <option value="publish">公开</option>
                                        <option value="password">加密</option>
                                        <option value="hide">隐藏</option>
                                    </select>
                                    <p>
                                        <input type="text" name="password" id="pwd" style="display: none" placeholder="请输入密码">
                                    </p>
                                </p>
                              <label style="font-weight: 700; color: #5d5d5d; display: block; padding-bottom: 1rem;">权限控制</label>
                                    <input type="checkbox" id="allowComments" name="allowComments" checked>
                                   <label for="allowComments">允许评论</label>
                             </div>
                                        {% if request.args.get("cid") %}
                                            <script>
                                            let sel = document.getElementById("visibility");
                                            let allow = document.getElementById("allowComments");
                                            status = "{{ blog.status }}"
                                            v = "{{ blog.allowComment }}"
                                            console.log(v)
                                            if(v==="on")
                                            {
                                                allow.checked = true;
                                            }
                                            else{
                                                allow.checked = false;
                                            }
                                            if(status==="publish")
                                            {
                                                sel.value = "publish"
                                            }
                                            if(status==="hide")
                                            {
                                                sel.value = "hide"
                                            }
                                            if(status==="password")
                                            {
                                                sel.value ="password";
                                                document.getElementById("pwd").style.display = "block";
                                                document.getElementById("pwd").value = "{{ blog.password }}";
                                            }
                                            </script>
                                        {% endif %}
                </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/themes/admin/static/editor/js/jquery.min.js"></script>
    <script src="/themes/admin/static/editor/editormd.min.js"></script>
    <script>
  var editer = editormd({
      id :"aiyblog-write",
      width   : "100%",
      height  : 640,
      path : "/themes/admin/static/editor/lib/",
      saveHTMLToTextarea : true,
      toolbar :true,
      watch : false,
      toolbarAutoFixed:false

  });
  function show_option() {
      document.getElementById("options").style.display = "block";
  }
  function show_tags() {
      document.getElementById("tags").style.display = "block";
  }
  function test(str) {
      if(str==="password")
      {
          document.getElementById("pwd").style.display = "block"
      }
      else{
          document.getElementById("pwd").style.display = "none"
      }

  }
</script>
{% endblock %}

{#text#}
{#aiyblog-write-html-code#}
