<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{{ get_config("siteName") }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href= "{{ request.script_root }}/themes/default/static/grid.css">
    <link rel="stylesheet" href= "{{ request.script_root }}/themes/default/static/normalize.min.css">
    <link rel="stylesheet" href= "{{ request.script_root }}/themes/default/static/style.css">
    {% endblock %}
</head>
<body>
{#header#}
{% block header %}
<header id="header" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-mb-12 col-9">
                <a id="logo" href="/">{{ get_config("siteName") }}!</a>
                <p class="description">{{ get_config("siteDescription") }}!</p>
            </div>

            {#这里是全文搜索#}
            <div class="col-3 hidden-tb">
                <form id="search" action="#">
                    <input type="search" class="text" placeholder="输入关键字搜索">
                    <button type="submit" class="submit">搜索</button>
                </form>
            </div>

            {#这里渲染出所有的独立页面#}
            <div id="nav-menu" class="col-mb-12">
                <nav class="clearfix">

                {% if request.path == '/' %}
                 <a class="current" href="/">首页</a>
                {% else %}
                     <a href="/">首页</a>
                {% endif %}
                    {% for page in pages %}
                        <a id="page-{{ page.cid }}" href="/index/{{ page.slug }}">{{ page.title }}</a>

                    {% endfor %}


                </nav>
            </div>
        </div>
    </div>
</header>
{% endblock %}
{#header#}
{#body#}
<div id="body">
    <div class="container">
        <div class="row">
            {#左边文章#}
        {% block content %}
            <div class="col-mb-12 col-8">
            {% for blog in blogs %}
                 <article class="post">
                    <h2 class="post-title"><a href="{{ url_for("views.archives",cid=blog.cid) }}">{{ blog.title }}</a></h2>
                    <ul class="post-meta">
                        <li>
                            作者：<a href="#">{{ get_name_by_id(blog.authorId) }}</a>
                        </li>
                        <li>
                            时间：{{ blog.created|showtime }}
                        </li>
                        <li>
                            分类：<a href="#">{{ get_cgs_by_cid(blog.cid) }}</a>
                        </li>
                        <li>
                            <a href="#">评论</a>
                        </li>
                    </ul>
                    <div class="post-content">
                        {{ blog.text }}
                    </div>
                {% block tags %}
                <p class="tags">标签：none</p>
                {% endblock %}

                </article>
            {% endfor %}

                    {% block comments %}

                    {% endblock %}
            </div>
        {% endblock %}
            {#右边导航内容#}
            {% block rightnav %}
            <div class="col-3 col-offset-1 hidden-tb">
                <section class="sec">
                    <h4>最新文章</h4>
                    <ul>
                        {% for na in new_articles %}
                            <li><a href="{{ url_for("views.archives",cid=na.cid) }}">{{ na.title }}</a></li>
                        {% endfor %}
                    </ul>
                </section>
                <section class="sec">
                    <h4>最新回复</h4>
                    <ul>
                        <li><a href="">无</a></li>
                    </ul>
                </section>
                <section class="sec">
                    <h4>分类</h4>
                    <ul>
                        {% for cat in categories %}
                            <li><a href="/">{{ cat.name }}</a></li>

                        {% endfor %}
                    </ul>
                </section>
                <section class="sec">
                    <h4>其它</h4>
                    <ul>
                        {% if session["uid"] %}
                             <li><a href={{ url_for("admin.admin_index") }}>进入后台({{ get_name_by_id(session["uid"]) }})</a></li>
                        {% else %}
                             <li><a href={{ url_for("auth.login") }}>登录</a></li>
                        {% endif %}

                        <li><a href="{{ url_for("auth.logout") }}">退出</a></li>
                        <li><a href="http://maxlv.org">官方博客</a></li>
                    </ul>
                </section>
            </div>
            {% endblock %}
        </div>
    </div>
</div>
{#body#}

{#footer#}
{% block footer %}
<div id="footer">
&copy2018 <a href="#">{{ get_config("siteName") }}</a> 由 <a href="#">Aiyblog</a> 强力驱动
</div>
{% endblock %}
{#footer#}
</body>
</html>