{% extends "base.html" %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block head %}
    {{ super() }}

{% endblock %}



{% block content %}

    <script>
    id = "page-{{ blog.cid }}";
    document.getElementById(id).classList.add("current")
    </script>
                <div class="col-mb-12 col-8">
                     <article class="post">
                        <h2 class="post-title"><a href="{{ url_for("views.archives",cid=blog.cid) }}">{{ blog.title }}</a></h2>
                        <ul class="post-meta">
{#                            <li>#}
{#                                作者：<a href="#">{{ get_name_by_id(blog.authorId) }}</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                时间：{{ blog.created|showtime }}#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#">评论</a>#}
{#                            </li>#}
                        </ul>
                        <div class="post-content">
                            {{ blog.text }}
                        </div>
                            {% block tags %}

                            {% endblock %}
                    </article>

                        {% block comments %}
                        <div id="comments">
                        {#这里的评论有三种状态
                        1.用户未登录-->显示原始评论
                        2.用户登录-->显示登录身份并可以直接评论
                        另外：一直都要把已有的评论显示出来
                        #}
                        {#  如果有评论  #}
                        <ol class="comment-list"></ol>

                        <div id="comments-post">
                            <p><strong>添加新评论:</strong></p>
                            <form id="comments-form" action="#">
                            {#    通过session来控制是否显示评论    #}
                                {% if session["uid"] %}
                                <p>
                                    登录身份：<a href="#">admin.</a>
                                    <a href="{{ url_for("auth.logout") }}">退出 >></a>
                                </p>
                                {% endif %}

                                {% if not session["uid"] %}
                                <p>
                                    <label for="author" class="required">称呼</label>
                                    <input type="text" name="author" required>
                                </p>
                                <p>
                                    <label for="email" class="required">Email</label>
                                    <input type="email" name="email" required>
                                </p>
                                <p>
                                    <label for="url">网站</label>
                                    <input type="url" name="url" placeholder="http://">
                                </p>
                                {% endif %}
                                <p>
                                    <label for="content" class="required">内容</label>
                                    <textarea name="content" rows="6" required></textarea>
                                </p>
                                <p>
                                    <button type="submit">提交评论</button>
                                </p>
                            </form>
                        </div>


                        </div>
                        {% endblock %}
            </div>
{% endblock %}





{% block rightnav %}
    {{ super() }}
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
