{% extends "admin/__base__.html" %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block title %}
    管理分类
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="title">
            <h2>管理分类 <a href="{{ url_for("AiyBlog.admin.manage.create_cg") }}">添加</a></h2>
        </div>
        <div class="row">
            <div class="col-mb-12">
                <form id="manage-categories" action="{{ url_for("AiyBlog.admin.action.delete_category") }}" method="post">
                <div class="dropdown-select">
                    <button type="button" class="submit" style="width:93px;" onclick="del(this)"  value="0">选中项 <i class="iconfont icon-xiala1"></i></button>
                    <ul id="show-del">
                        <li><button type="button" onclick="submit_form()">删除</button></li>
                    </ul>
                </div>
                <div class="table-warp">
                <table class="manage-posts-table" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>操作</th>
                        <th>名称</th>
                        <th>缩略名</th>
                        <th>文章数</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in cgs %}
                    <tr onclick="select(this)" id="" class="">
                        <td><input type="checkbox" value="{{ c.mid }}" name="mid[]"></td>
                        <td>
                            <a href="{{ url_for("AiyBlog.admin.manage.categories",mid=c.mid) }}">{{ c.name }}</a>

                        </td>
                        <td>{{ c.slug or "无" }}</td>
                        <td>{{ c.count }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                </form>
            </div>
        </div>
    </div>
    <script>
    function select(obj) {

        if(obj.classList.contains("checked"))
        {
            obj.querySelector('input').checked = false;
            obj.classList.remove("checked")
        }
        else{
            obj.querySelector('input').checked = true;
            obj.classList.add("checked")
        }
    }

    function del(obj) {
        if(obj.value==="0") {
            document.getElementById("show-del").style.display = "block";
            obj.value = "1"
        }
        else{
            document.getElementById("show-del").style.display = "none";
            obj.value = "0";
        }
    }
    function submit_form() {
        let r = confirm("真的要删除选中的分类吗？");
        if(r===true)
        {
           document.getElementById("manage-categories").submit()
        }
        else{
            console.log("取消删除")
        }
    }
    </script>
{% endblock %}
